.content-table {
  position: fixed;
  transform: translate(400px, 0px);
  padding: 15px;
  border-radius: 5px;
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.content-table thead tr {
  background-color: #009879;
  border-radius: 5px;
  color: #ffffff;
  text-align: right;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 13px;
  border: 1px solid #000;
}

.content-table tbody tr {
  border-bottom: 1px solid #000;
  border-radius: 5px;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.content-table-zero {
  position: fixed;
  transform: translate(449px, 0px);
  padding: 15px;
  border-radius: 5px;
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.content-table-zero thead tr {
  background-color: #009879;
  border-radius: 5px;
  color: #ffffff;
  text-align: right;
  font-weight: bold;
}

.content-table-zero th,
.content-table-zero td {
  padding: 12px 22.5px;
  border: 1px solid #000;
}

.content-table-zero tbody tr {
  border-bottom: 1px solid #000;
  border-radius: 5px;
}

.content-table-zero tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table-zero tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table-zero tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.content-table-one {
  position: fixed;
  transform: translate(524px, 0px);
  padding: 15px;
  border-radius: 5px;
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.content-table-one thead tr {
  background-color: #009879;
  border-radius: 5px;
  color: #ffffff;
  text-align: right;
  font-weight: bold;
}

.content-table-one th,
.content-table-one td {
  padding: 12px 33px;
  border: 1px solid #000;
}

.content-table-one tbody tr {
  border-bottom: 1px solid #000;
  border-radius: 5px;
}

.content-table-one tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table-one tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table-one tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.content-table-two {
  position: fixed;
  transform: translate(687px, 0px);
  padding: 15px;
  border-radius: 5px;
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.content-table-two thead tr {
  background-color: #009879;
  border-radius: 5px;
  color: #ffffff;
  text-align: right;
  font-weight: bold;
}

.content-table-two th,
.content-table-two td {
  padding: 12px 33px;
  border: 1px solid #000;
}

.content-table-two tbody tr {
  border-bottom: 1px solid #000;
  border-radius: 5px;
}

.content-table-two tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table-two tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table-two tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.content-table-three {
  position: fixed;
  transform: translate(853px, 0px);
  padding: 15px;
  border-radius: 5px;
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.content-table-three thead tr {
  background-color: #009879;
  border-radius: 5px;
  color: #ffffff;
  text-align: right;
  font-weight: bold;
}

.content-table-three th,
.content-table-three td {
  padding: 12px 32.5px;
  border: 1px solid #000;
}

.content-table-three tbody tr {
  border-bottom: 1px solid #000;
  border-radius: 5px;
}

.content-table-three tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table-three tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table-three tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.content-table-four {
  position: fixed;
  transform: translate(1016px, 0px);
  padding: 15px;
  border-radius: 5px;
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.content-table-four thead tr {
  background-color: #009879;
  border-radius: 5px;
  color: #ffffff;
  text-align: right;
  font-weight: bold;
}

.content-table-four th,
.content-table-four td {
  padding: 12px 33px;
  border: 1px solid #000;
}

.content-table-four tbody tr {
  border-bottom: 1px solid #000;
  border-radius: 5px;
}

.content-table-four tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table-four tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table-four tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.content-table-five {
  position: fixed;
  transform: translate(934px, 0px);
  padding: 15px;
  border-radius: 5px;
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.content-table-five thead tr {
  background-color: #009879;
  border-radius: 5px;
  color: #ffffff;
  text-align: right;
  font-weight: bold;
}

.content-table-five th,
.content-table-five td {
  padding: 12px 14.9px;
  border: 1px solid #000;
}

.content-table-five tbody tr {
  border-bottom: 1px solid #000;
  border-radius: 5px;
}

.content-table-five tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table-five tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table-five tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.content-table-six {
  position: fixed;
  transform: translate(1064px, 0px);
  padding: 15px;
  border-radius: 5px;
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.content-table-six thead tr {
  background-color: #009879;
  border-radius: 5px;
  color: #ffffff;
  text-align: right;
  font-weight: bold;
}

.content-table-six th,
.content-table-six td {
  padding: 12px 14px;
  border: 1px solid #000;
}

.content-table-six tbody tr {
  border-bottom: 1px solid #000;
  border-radius: 5px;
}

.content-table-six tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table-six tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table-six tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.content-table-svn {
  position: fixed;
  transform: translate(1190px, 0px);
  padding: 15px;
  border-radius: 5px;
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.content-table-svn thead tr {
  background-color: #009879;
  border-radius: 5px;
  color: #ffffff;
  text-align: right;
  font-weight: bold;
}

.content-table-svn th,
.content-table-svn td {
  padding: 12px 14px;
  border: 1px solid #000;
}

.content-table-svn tbody tr {
  border-bottom: 1px solid #000;
  border-radius: 5px;
}

.content-table-svn tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table-svn tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table-svn tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.content-table-days {
  position: fixed;
  transform: translate(400px, 35px);
  padding: 15px;
  border-collapse: collapse;
  text-align: left;
  vertical-align: left;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

.content-table-tuesday {
  position: fixed;
  transform: translate(400px, 285px);
  padding: 15px;
  border-collapse: collapse;
  text-align: left;
  vertical-align: left;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

.content-table-wednesday {
  position: fixed;
  transform: translate(400px, 535px);
  padding: 15px;
  border-collapse: collapse;
  text-align: left;
  vertical-align: left;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

.content-table-thursday {
  position: fixed;
  transform: translate(400px, 785px);
  padding: 15px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

.content-table-friday {
  position: fixed;
  transform: translate(400px, 1035px);
  padding: 15px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

.content-table-saturday {
  position: fixed;
  transform: translate(400px, 1283px);
  padding: 15px;
  border-collapse: collapse;

  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

.content-table-sunday {
  position: fixed;
  transform: translate(400px, 1533px);
  padding: 15px;
  border-collapse: collapse;

  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

.content-table-units {
  position: fixed;
  transform: translate(648px, 718px);
  padding: 15px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

h6 {
  background-color: #009879;
  word-wrap: break-word;
  width: 48.5px;
  color: #76838f;
}

.content-table-days h6 {
  padding: 80.5px 20px;
  border: 1px solid #000;
}

.content-table-tuesday h6 {
  padding: 73.5px 23px;
  border: 1px solid #000;
}

.content-table-wednesday h6 {
  padding: 59px 23px;
  border: 1px solid #000;
}

.content-table-thursday h6 {
  padding: 81px 15.9px;
  border: 1px solid #000;
}

.content-table-friday h6 {
  padding: 81px 20px;
  border: 1px solid #000;
}

.content-table-saturday h6 {
  padding: 82px 16px;
  border: 1px solid #000;
}

.content-table-sunday h6 {
  padding: 81.5px 20px;
  border: 1px solid #000;
}

h6 {
  border-bottom: 1px solid #000;
}

h6 {
  background-color: #fff;
}

h6 {
  border-bottom: 1px solid #76838f;
}

h6.active-row {
  font-weight: bold;
  color: #009879;
}

.table-content {
  table-layout: fixed;
  position: fixed;
  transform: translate(449px, 35px);
  padding: 15px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

.table-content-2 {
  position: fixed;
  transform: translate(449px, 100px);
  padding: 0px 15px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-top: 1px solid #000;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

.table-content-3 {
  position: fixed;
  transform: translate(449px, 150px);
  padding: 0px 15px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

.table-content-4 {
  position: fixed;
  transform: translate(449px, 200px);
  padding: 0px 15px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

.table-content-5 {
  position: fixed;
  transform: translate(449px, 250px);
  padding: 0px 15px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

.table-content-6 {
  position: fixed;
  transform: translate(449px, 300px);
  padding: 0px 15px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

.table-content-7 {
  position: fixed;
  transform: translate(449px, 350px);
  padding: 0px 15px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

.table-content-8 {
  position: fixed;
  transform: translate(449px, 400px);
  padding: 0px 15px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

.table-content-9 {
  position: fixed;
  transform: translate(449px, 450px);
  padding: 0px 15px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

.table-content-10 {
  position: fixed;
  transform: translate(449px, 500px);
  padding: 0px 15px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

.table-content-11 {
  position: fixed;
  transform: translate(449px, 550px);
  padding: 0px 15px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

.table-content-12 {
  position: fixed;
  transform: translate(449px, 600px);
  padding: 0px 15px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

.table-content-13 {
  position: fixed;
  transform: translate(449px, 650px);
  padding: 0px 15px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

.table-content-14 {
  position: fixed;
  transform: translate(449px, 700px);
  padding: 0px 15px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

.table-content-15 {
  position: fixed;
  transform: translate(449px, 750px);
  padding: 0px 15px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

/*Thursday*/
.table-content-16 {
  position: fixed;
  transform: translate(449px, 800px);
  padding: 0px 15px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

.table-content-17 {
  position: fixed;
  transform: translate(449px, 850px);
  padding: 0px 15px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

.table-content-18 {
  position: fixed;
  transform: translate(449px, 900px);
  padding: 0px 15px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

.table-content-19 {
  position: fixed;
  transform: translate(449px, 950px);
  padding: 0px 15px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

.table-content-20 {
  position: fixed;
  transform: translate(449px, 1000px);
  padding: 0px 15px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

.table-content-21 {
  position: fixed;
  transform: translate(449px, 1050px);
  padding: 0px 15px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

.table-content-22 {
  position: fixed;
  transform: translate(449px, 1100px);
  padding: 0px 15px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

.table-content-23 {
  position: fixed;
  transform: translate(449px, 1150px);
  padding: 0px 15px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

.table-content-24 {
  position: fixed;
  transform: translate(449px, 1200px);
  padding: 0px 15px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

.table-content-25 {
  position: fixed;
  transform: translate(449px, 1250px);
  padding: 0px 15px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

.table-content-26 {
  position: fixed;
  transform: translate(449px, 1300px);
  padding: 0px 15px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

.table-content-27 {
  position: fixed;
  transform: translate(449px, 1350px);
  padding: 0px 15px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

.table-content-28 {
  position: fixed;
  transform: translate(449px, 1400px);
  padding: 0px 15px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

.table-content-29 {
  position: fixed;
  transform: translate(449px, 1450px);
  padding: 0px 15px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

.table-content-30 {
  position: fixed;
  transform: translate(449px, 1500px);
  padding: 0px 15px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

.table-content-31 {
  position: fixed;
  transform: translate(449px, 1550px);
  padding: 0px 15px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

.table-content-32 {
  position: fixed;
  transform: translate(449px, 1600px);
  padding: 0px 15px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

.table-content-33 {
  position: fixed;
  transform: translate(449px, 1650px);
  padding: 0px 15px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

.table-content-34 {
  position: fixed;
  transform: translate(449px, 1700px);
  padding: 0px 15px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

.table-content-35 {
  position: fixed;
  transform: translate(449px, 1750px);
  padding: 0px 15px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 0px 0px 0 0;
  overflow: hidden;
}

h5 {
  background-color: #009879;
  color: #000;
}
.content-units {
  transform: translate(0px, -31px);
  font-size: 0.5em;
}

.content-units h5 {
  padding: 16px 19.5px;
  border: 1px solid #000;
}

.content-units-2 h5 {
  padding: 24px 80.5px;
  border: 1px solid #000;
}

.content-units-3 h5 {
  padding: 24px 82px;
  border: 1px solid #000;
}

.content-units-4 h5 {
  padding: 24px 80.5px;
  border: 1px solid #000;
}

.content-units-5 h5 {
  padding: 24px 82px;
  border: 1px solid #000;
}

.content-units-6 h5 {
  padding: 24px 63.5px;
  border: 1px solid #000;
}

.content-units-7 h5 {
  padding: 24px 61.5px;
  border: 1px solid #000;
}

.content-units-8 h5 {
  padding: 24px 63.5px;
  border: 1px solid #000;
}

h5 {
  border-bottom: 1px solid #000;
}

h5 {
  background-color: #fff;
}

h5 {
  border-bottom: 1px solid #76838f;
}

h5.active-row {
  font-weight: bold;
  color: #009879;
}

/* =============================================================================================== */
#timetable textarea {
  resize: none;
  width: 100%;
  border: none;
  color: gray;
  padding: 5px;
}
#timetable textarea:focus {
  outline: none;
}
#timetable div {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100px;
}
#timetable div:focus,
#timetable div:active {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100px;
}
#timetable {
  width: 75%;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid black;
  position: relative;
  top: 30px;
  left: 120px;
  margin-bottom: 150px;
}
#timetable td {
  margin: 0 !important;
  padding: 0px !important;
  border: 1px solid black;
}
#first_row > td {
  padding: 5px;
  color: gray;
}
.table_month {
  color: gray;
  width: 50px;
}
.table_time {
  width: 60px;
}
